@charset "UTF-8";
/* CSS Document */
body
{
  background-color: #666;
}

#logo{
  background-image:url(../images/Blyph-Logo.png);
  width:121px;
  height:37px;
  background-repeat:no-repeat;
  visibility:visible;
}

li{
	margin:opx;
	padding:0px;
	font-family: 'Didact Gothic', serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  color:#333;
}

hr{ text-decoration:none;color:#333;
border:solid #EFEFEF 1px;
}
h1{color:#8CC63F;
font-family: 'Didact Gothic', serif;
	height:35px;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  margin:10px 0px 10px 0px;
}
h2{color:#8CC63F
font-family: 'Didact Gothic', serif;
	height:28px;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;}

h3{color:#666;
font-family: 'Didact Gothic', serif;
	height:30px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  margin:10px 0px 10px 0px;
  padding:0px 0px 10px 5px;}
  
h4{font-family: 'Didact Gothic', serif;
	height:30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  margin:10px 0px 15px 0px;
  padding:0px 0px 10px 5px;
  color:#666;
}

p{color:#9CCE4D}
p.text_center{
	text-align:left;
	border:0px;
	margin:0px;
	float:inherit;
}
a {
	font-family: 'Didact Gothic', serif;
	height:12px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
	color:#8CC63F;
}

a.text_left {
	text-align:left;
	border:0px;
	margin:0px;
	float:left;
}

a.text_right {
	text-align:right;
	border:0px;
	margin:0px;
	float:right
}
	
#wrapper {
	width:1200px;
	min-height:500px;
	height:auto;
	margin:0px auto 0px auto;
  margin-top: 5px;
	background-color:#F8F8F8;
	border:2px solid  #E3E3E3;
  border-radius:5px;
    /*Firefox*/
    -moz-border-radius:5px;
}

#instruction_heading {
  background:#FFC;
	Width:680px;
	height:40px;
	margin:0px auto 0px auto;
	border:solid 1px #FFF586;-moz-border-radius:25px 25px 0px 0px / 25px 25px 0px 0px;
	border-bottom:0px;
	padding:px 0px 0px 5px;
}

#instruction_heading li {
	margin:0px 3px 0px 2px;
	font-family: 'Didact Gothic', serif;
	height:30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
	color:#8CC63F;
}
	

#menu_step_1{
	float:left;
	background-image:url(../images/step1.png);
	background-repeat:no-repeat;
	margin:5px 0px 0px 10px;
	padding:5px 0px 0px 35px;
	font-family: 'Didact Gothic', serif;
	height:30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;

}
#menu_step_2{
	float:left;
	background-image:url(../images/step2.png);
	background-repeat:no-repeat;
	margin:5px 0px 0px 10px;
	padding:5px 0px 0px 35px;
	font-family: 'Didact Gothic', serif;
	height:30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;

}
#menu_step_3{
	float:left;
	background-image:url(../images/step3.png);
	background-repeat:no-repeat;
	margin:5px 0px 0px 10px;
	padding:5px 0px 0px 35px;
	font-family: 'Didact Gothic', serif;
	height:30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;

}


#searchbar {
  width:645px;
  height:35px;
  border:3px solid #CCC;-moz-border-radius:10px; /*Firefox*/ border-radius:10px;
  margin:5px auto 0px auto;
  float:inherent;
  padding:5px;
  background:#FFF;
}

#search {
  width:600px;
  height:30px;
  float:left;
  border:none;
  font-size:24px;
}

#search:focus{
	outline-width:0;
}

#Search_tips {
  width:650px;
  height:15px;
  padding:2px;
  border:0px;
  margin-left:auto;
  margin-right:auto;
  text-align:justify;
}

#Search_tips a {
  font-size:14px;
}
	
#column1 { 
  width:260px;
  border-right:solid 1px #CCC;
  float:left;
  padding-right:2px;
  border-right:solid 1px #CCC;
}

#column2 {
  width:665px;
  height:auto;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  padding:0px 2px 0px 2px;
  text-align:center;
}

#column3 {
  width:260px;
  height:auto;
  float:left;
  padding-left:0px;
}

#searchbar-small {
  background:#fff;
  width:250px;
  height:25px;
  border:2px solid #CCC;-moz-border-radius:5px; /*Firefox*/ border-radius:5px;
  float:inherent;
  padding:2px;
  margin:2px 0px 15px 2px;
}

#search-small {
  background:#fff;;
  width:225px;
  height:23px;
  float:left;
  border:none;
  font-size:24px;
}

#search-small:focus{
	outline-width:0;
}

.book-result-image{
	background-color:#0CC;
	height:75px;
	width:75px;
	margin:5px;
	display:inline-block;
}

#footer {
  width:1200px;
  height: 100px;
  background-color:#333;
  border-top:solid #1C1C1C 5px;
  opacity: 0.5;
  text-align:center;
  margin:0px auto 0px auto;
}
#footer a {
	color:#000
}

.title_box {
  height:15px;
  width:auto;
  text-align:left;
  border-bottom:2px solid #999;
  padding:2px;
  margin:0px auto 2px auto;
  font-family: 'Didact Gothic', serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  background:F8F8F8;
}

#social-sharing{
	height:400px;
	width:400px;
	margin:0px auto 0px auto;
	background:#f8F8F8;

}
