.booklist_container.booklist-unsorted-data
  header.booklist_unsorted Unsorted
  ul
    li.booklist-item
      span.bli-title Elementary Linear Algebra
      | [
      span.bli-isbn
      | ]

.booklist_container.booklist-need-data
  header.booklist_need I Need
  ul
    li.booklist-item
      span.bli-title Elementary Linear Algebra
      | [
      span.bli-isbn
      | ]
      .match-available
        span.person-match
          | (
          span.mbl-trade-matches 0
          | )
        span.match-description Trades
        span.online-match
          | (
          span.mbl-online-matches 0
          | )
        span.match-description Online Results

.booklist_container.booklist-have-data
  header.booklist_have For Trade
  ul
    li.booklist-item
      span.bli-title Elementary Linear Algebra
      | [
      span.bli-isbn
      | ]
      .match-available
        span.person-match
          | (
          span.mbl-trade-matches 0
          | )
        span.match-description trades available
      .online-match
        span.online-match
          | (
          span.mbl-online-matches 0
          | )
        span.match-description Online Results

.booklist_container.booklist-keep-data
  header.booklist_keep Keeping
  ul
    li.booklist-item
      span.mbl-trade-matches  
      span.mbl-online-matches  
      span.bli-title Elementary Linear Algebra
      | [
      span.bli-isbn
      | ]
