#saveyourinfo
  h3 Start Saving your list
  form#email_form
    div
      | Email:
      input.form_field(type='text', name='email', value='email address', width='500px')
    div
      | School URL:
      input.form_field(type='text', name='school', value='byu.edu', width='500px') 
      input.button(type='submit', name='submit', value='Signup / Login')
    br
  #optional-info(style='display: none;')  
    | Add / Update Optional Info:
    br
    div
      | Name:
      input.form_field(type='text', name='name', width='500px')
    div
      | Phone:
      input.form_field(type='text', name='phone', width='500px')
    input(type='checkbox', name='make-info-public', checked='checked')
    | Allow others to see my contact info
    div
      input.button(type='submit', name='submit', value='Signup / Login')
  
  a#gvoice(href='#gvoiceWidget') Have Questions? Need Help?
  #gvoiceWidget(style='display: none;')
    | Call AJ:
    object(type='application/x-shockwave-flash', data='https://clients4.google.com/voice/embed/webCallButton', width='230', height='85')
      param(name='movie', value='https://clients4.google.com/voice/embed/webCallButton')
      param(name='wmode', value='transparent')
      param(name='FlashVars', value='id=eefa487d95b71e2a840a26f71e7bac82fbd7e2b4&style=0')
  br

#logout(style='display: none;')
  h4
    a(href='#logout', style='font-size: 18px;')
      | Not
      span.username username
      | ?
      u Logout
      | .
