#matches(style='display: none;')
  .no-match
    | We didn't find any trades for you at this time. But we did find some other
    | results for you:

  #person-matches
    .online-store-heading
      | Fellow BYU Students
    ul
      li.result.ppl-widget
        .person
          img(alt='Logo', src='no-image.jpeg')
        input.email(type='hidden')
        .result-name
          | username
        .ppl-write-message
          .button-get-it
            | Write Message
          | Suggested Price:
          .result-for-price
            | $80.00
          div(style='clear: both;')  
          //- when the parent is clicked, this will be displayed
          .ppl-message(style='display: none;')
            .trade-message
              label.textbox-title(for='message')
                | When and where would you like to exchange?
              textarea.message-box(name='message', type='text', maxlength='600', placeholder='I humbly request exchange for...')
                | Hey @NAME
                | I'd like to exchange @TITLE for @USD.
                | Could we meet by @LOCATION at @TIME on @DATE?
              .ppl-warning
                | Use common sense when trading. Meet in public places and bring friends along.
              br
              button.ppl-send-message
                | Send Message
              div(style='clear: both;')  
  #online-matches
    .online-store-heading
      | Online Book Stores
    ul
      li.result
        .store-image
          img(alt='Logo', src='no-image.jpeg')
        a.button-get-it.ols-buy-sell(href='#link-goes-here', target='_blank') Buy / Sell
        .result-for-price
          | $800.00
        .ols-edition
          | EDITION
          //Int'l Edition
    div(style='clear: both;')
div(style='clear: both;')
