@charset "UTF-8";
/* CSS Document */
body {
  background-color: #666;
  font-family: 'Source Sans Pro', sans-serif; 
}
header{
  left: 0px;
  right: 0px;
  height: auto;
  margin: 0px auto 0px auto;
  background:#999;
  /*max-width: 1240px;*/
}
footer{
  left: 0px;
  right: 0px;
  height: auto;
  margin: 0px auto 0px auto;
  max-width: 1240px;
}
a{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

a :visited{
  color: #00D6FF;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  color: #333;
}
hr {
  text-decoration: none;
  color: #333;
  border: solid #EFEFEF 1px;
}
h1 {
  color: #00D6FF;
  font-family: 'Source Sans Pro', sans-serif; 
  height: 35px;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  margin: 10px 0px 10px 0px;
}
h2 {
  color: #00D6FF;
  height: 28px;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
}
h3 {
  color: #666;
  height: 30px;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 10px 5px;
}
h4 {
  height: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.015em;
  word-spacing: 0em;
  line-height: 1.2;
  margin: 10px 0px 15px 0px;
  padding: 0px 0px 10px 5px;
  color: #666;
}
p {
  color: #9cce4d;
}

#css-logo {
  background-image: url(../images/Blyph-Logo.png);
  width: 121px;
  height: 37px;
  background-repeat: no-repeat;
  visibility: visible;
  float:left;
  margin-top:.2em;
}
#css-wrapper {
left: 0px;
right: 0px;
min-height: 500px;
height: auto;
margin:.1em auto 0px auto;
background-color: #F8F8F8;
max-width: 1240px;
padding-top: 1em;
}
.css-school-field {
  width: 21%;
  position: absolute;
  height: 3.1em;
}
.css-school-input{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#css-searchbar {
  width: 54%;
  height: 2.15em;
  border: 3px solid #CCC;
  -moz-border-radius: 10px;
  /*Firefox*/
  border-radius: 10px;
  margin: 0em auto 1em auto;
  float: inherent;
  padding: 5px;
  background: #FFF;
}
.css-search {
  width: 90%;
  height:1.3em;
  float: left;
  border: none;
  font-size: 24px;
}
.css-search:focus {
  outline-width: 0;
}
.css-search-icon{
  height: 3em;
  width: 3em;
}
#css-column1 {
  min-height:10px;
  width: 22%;
  float: left;
  
}
#css-column2 {
width: 55%;
height: auto;
float: left;
padding: 0px 2px 0px 2px;
margin: 0 0 0 5px;
}

#css-column3 {
  width: 22%;
  float: left;
}

#css-social-sharing {
width: auto;
height: auto;
padding-left: 0px;
float: right;
}

.css-saveyourinfo{ 
background:red;
text-align: center;
width: 97%;
}
.css-email-form{
text-align: right;
}
#css-show-first {
  height:auto
  width:100%; 
  background:#e5e5e5
}
#css-banner-image {
height: 21em;
width: 100%;
background-image: url(../images/holding-stack-of-textbooks.jpg);
background-repeat: no-repeat;
}

.css-banner-head {
left: 50px;
top: 50px;
font-size: 4em;
max-width: 10em;
line-height: 1em;
float:left;
margin:1em 1em;
}

.css-banner-sub-head {
  text-transform: uppercase;
  font-size: 1.8em;
  float: left;
  margin: 1.4em 2.3em;

}
.css-cases{
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
  width: 21%;
  height: 15em;
  text-align: center;
  margin: 1em 0em 1em 1.5em;
  background: white;
  padding:.2em;
}
.css-cases p{ 
  text-align:left;
  color:#555;
  font-size:.8em;
}
.css-case-images{
  background-repeat: no-repeat;
  height: 6em;
  width: 10em;
  margin: 0em auto 0 auto;
}
#css-case-image5{
background-image:url(../images/case5.svg);
}

#css-case-image2{
background-image:url(../images/case2.svg);
}

#css-case-image3{
background-image:url(../images/case3.svg);
}

#css-case-image4{
background-image:url(../images/case4.svg);
}

#css-show-second {
  height:auto
  width:100%; 
  background:#e5e5e5
}
#css-case1-banner{
  height:23em;
  width:100%;
  background-image:url(../images/placeholder.jpg);
  position:relative;
  background-repeat:none;
}
.css-twitter-share-button{
   color: #00D6FF;
}
.css-twitter-share-button :visited{
   color: #00D6FF;
}
.css-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
