!!! 5
html
  head
  body
    h2 This is an HTML5 Web App. Please upgrade to a Browser
    p
      | Sorry, but your version of Internet Explorer is buggy and probably won't work with this application. :-(
    p You have three options:
    ol
      li
        | Install a web browser (
        a(href='http://www.google.com/chrome', target='_blank') Google Chrome
        | ,
        a(href='http://www.mozilla.com', target='_blank') Mozilla Firefox
        | , Safari, Opera, etc)
      li
        | Install the
        a(href='http://www.google.com/chromeframe', target='_blank') ChromeFrame plugin
        | for Internet Explorer
      li
        | Continue living in a sinful and carnal state devoid of true happiness
        br
        | (but it may not work out very well, so don't say we didn't warn you)
    p
      strong
        | We recommend
        a(href='http://www.google.com/chrome', target='_blank') Chrome
      | on the basis that it takes just a few
      em seconds
      | to install
      | and it's
      em always
      | up-to-date.
    p
      | Remember,
      strong Friends don't let friends use Internet Explorer
      | .
      br
      | We're your friends. =-P
