!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Blyph
    script(src='./javascripts/CFInstall.min.js')
    script(src='./javascripts/jquery.min.js')
    script(src='./javascripts/jquery.jgrowl.js')
    script(src='http://cdn.coolaj86.info/js/require-kiss.js')
    script(src='./javascripts/app.js')
    link(rel='stylesheet', href='http://stanlemon.net/stylesheet/jquery.jgrowl.css', type='text/css')
    link(href='css/main.css', rel='stylesheet', type='text/css')
    link(href='css/item.css', rel='stylesheet', type='text/css')
    link(href='css/change_item.css', rel='stylesheet', type='text/css')
    link(href='css/booklist.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/form_change_item.css', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Nunito:300,400,700&v1', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Bevan:regular&v1', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Didact+Gothic:regular&v1', rel='stylesheet', type='text/css')
  body
    #logo
    #instruction_heading
      li#menu_step_1
        a(href='help.html') Tell us what books you have
      li#menu_step_2
        a(href='http://www/gmail.com') Tell us what books you need
      li#menu_step_3
        a(href='http://www/gmail.com') We'll set up a swap
    // instructional_heading
    div(style='clear: both;')
    #wrapper
      #content
        #column1
          #searchbar-small
            form#search_form_small
              input#search-small(name='search-small', type='text')
            input(25='25', type='image', img='img', src='images/blyph-search-icon.png', height='height', width='25', align='right')
            // search_form
          // searchbar-small
          form
            // MyBooks
            li
              input.booklist_need(name='name', type='text', value=' Books I need')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
          // EndMyBooks
          form
            // MyBooks
            li
              input.booklist_have(name='name', type='text', value=' Books I have')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
          // EndMyBooks
        // column1
        #column2
          #searchbar
            form#search_form
              input#search(name='search', type='text')
            input(35='35', type='image', img='img', src='images/Search-icon.png', height='height', width='35', align='right')
            // search_form
          // searchbar
          #Search_tips
            a.text_left(href='help.html') Didn't find your book?
            a.text_right(href='help.html') Search multiple books at the same time
          // Results
          #item_list
            .item
              .image_frame
                .item_picture
                  img(src='css/default-book.jpg')
                // item_picture
              // image_frame
              .item_info
                .title
                  li Book Name
                // item_info
                .isbn
                  li
                    .isbn_10
                      | Isbn10:1234567890
                    // isbn_10
                  li
                    .isbn_13
                      | Isbn13:1234567890123
                    // isbn_13
                // isbn
                .edition
                  li International 3rd
                // edition
                .authors
                  li Gray Bot, willhelm, Conto,
                // authors
                .school_course Class
                .teacher Teacher
                .school byu.edu
                .need-it-button  Need it
                .have-it-button Have it
              // item_info
            // item
          // item_list
          .title_box
            h4 local Books
          .result_box
            ul
              li.match-item
                ul
                  li.friend-match-item
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
              li .02 mi
          // sidebar_box
          .result_box
            ul
              li.match-item
                ul
                  li.friend-match-item
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            ul
              li.match-item
                ul
                  li.item-photo-small
                  li.match-description
            li 5 mi
          // sidebar_box
          .title_box
            h4 Internet Books
          .sidebar_box
          // sidebar_box
        // column2
        #column3
          #result-info-box
            .item-photo-med  hello 
            .item-photo-med  hello 
            .need-it-button add to cart +
          // result-info-box
          form
            // MyBooks
            li
              input.booklist_need(name='name', type='text', value=' Cart')
            li
              input.booklist-item(name='name', type='text', value=' Swap | Biology consepts 4th ed<-->History')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.booklist-item(name='name', type='text', value=' book name here')
            li
              input.need-it-button(type='submit', value='Check out', onclick='submit')
          // MyBooks
        // column3
        div(style='clear: both;')
        #footer
          p ©Blyph 2011
        // footer
      // wrapper
