!!! 5
html(manifest='main.appcache')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title Blyph
    //if IE
      script(src='./javascripts/CFInstall.min.js')
    //if IE
      script
        CFInstall.check({mode: "overlay",url: "gcf.html"});
    link(href='style.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Nunito:300,400,700&v1', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Bevan:regular&v1', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Didact+Gothic:regular&v1', rel='stylesheet', type='text/css')
  body
    #instruction_heading
      input(35='35', type='image', img='img', src='images/logo.png', height='height', width='width', align='left')
      #description-title
        | A Local Textbook Trading engine

    #search-menu
    #login-area
      include partials/login-area
   
    #social-sharing
       fb:like(href='www.facebook.com/pages/Blyph/190889114300467', width='100' , height='20', show_faces='false', font='')
    #searchbar
      form#search_form
        input#search(name='search', type='text', placeholder='Search books by title or ISBN')
      input(35='35', type='image', img='img', src='images/Search-icon.png', height='height', width='30', align='right')    
    
   #wrapper
    #loading-mask
    div(style='clear: both;')

      #column1
        #logout(style='display: none;')
          h4
            a(href='#logout', style='font-size: 18px;')
              | Not
              span.username username
              | ?
              u Logout
              | .
        
        #booklist-container-area
          include partials/booklists

      #column2
        .searching-for-books
          h3 Tag old books for Trade. Tag this semester's books as Need
        #search-booklist.item_list
        #import-prompt(style='display: none;')
          ul
            li - Or -
          .load-booklist.searching-for-books
            a(href='byu.html') Import from your BYU booklist
        .autoloader
          h1 Tag your Booklist.
          p
            | Tag each book as Need, Trade, Keep (if you have it already), or Ignore (if you
            | don't care).
        //Results
        #imported-booklist-area
          include partials/imported-books
        #matches-area
          include partials/matches

      #column3
        #promotion-offer
          h4
            //| Share Blyph with your friends and win a 16gb iPad 2!
            //a(href='sweepstakes-rules.html') See Details
        //promotional offer
        //#ipad
        //ipad
        div(style='clear: both;')
        #social-sharing
          //facebook
          #fb-root
          #fb-send(width='100')
            #fbml(width='100')
        //twitter
        //p#unique-link blyph.com
        //p Input this custom url into your message and get more points into the drawing.
        
      //column3
      div(style='clear: both;')
    //wrapper
    #footer
      p ©Blyph 2011
    //footer
    script(src='./pakmanaged.js')
    script(src='http://platform.twitter.com/widgets.js', type='text/javascript')
    script(src='http://connect.facebook.net/en_US/all.js#appId=220950287941840&xfbml=1')
    script(type='text/javascript', src='https://apis.google.com/js/plusone.js')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24506591-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
