!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Blyph Sweepstakes
    link(href='http://fonts.googleapis.com/css?family=Didact+Gothic:regular&v1', rel='stylesheet', type='text/css')
    link(href='css/sweepstakes.css', rel='stylesheet', type='text/css')
  body
    #logo
    #container
      h1 The Sweepstakes!
      p
        strong One student
        | will be awarded a shiney new 16gb iPad2 in a random drawing, courtesy of Blyph
        | LLC. The drawing is subject to the following conditions:
      h2 Conditions and Legal Blah Blah:
      h3 Entering:
      p Enter your email address and school URL into the Blyph Books website.
      p Be a full time student registered at BYU (including the ELC).
      h2 Increase your chance of winning.
      p
        strong 1 entry for joining.
        | All Blyph members will receive one entry into the 2011 reimbursement drawing
        | simply for joining.
      p
        strong 1 entry per book listed.
        | Every legitimate course textbook you have listed for trade or sale awards you 1
        | entry.
      p
        strong 100's of entries for inviting friends.
        | For every 10 friends that join using your unique link, the value of your links
        | per friend goes up by the value of the 10's of friends who have joined.
        strong Double
        | the number of friends who join with your link,
        strong Quadruple
        | the number of entries you have. This way you're always gaining more chances to
        | win than you're adding 'opponents' to the pool. :-D. Now doesn't that kind of
        | math make sense?
        br
        br
        | 10 friends, 10 entries.
        br
        | 20 friends, 40 entries.
        br
        | 30 friends, 90 entries.
        br
        | 40 friends, 160 entries.
        br
        | 50 friends, 250 entries.
        br
        | 60 friends, 360 entries.
        br
        | 70 friends, 490 entries.
        br
        | 80 friends, 640 entries.
        br
        | 90 friends, 810 entries.
        br
        | 100 friends, 1000 entries.
        br
      p Facebook is not responsible for this promotion in any way.
      h3 Selection:
      p
        | Two winners will be chosen from a random drawing of Blyph members. Blyph members
        | can earn points that add to their chance of winning. If less there are less than
        | 2000 entrants, the drawing will not be held.
      h3 Sweepstakes dates:
      p
        | Blyph will reimburse up to $350 of the cost of two students' textbooks purchased
        | within the dates of August 1st 2011 to September 30th 2011.
      p
        | The random drawing will be held on October 5th and winners will be notified via
        | email on Friday October 7th.
      h3 Distribution:
      p We'll purchase the iPad and have it shipped to you by Apple.
      h3 To claim the iPad the winner must:
      p
        | Reply to the winning announcement email no later than one week after recieving
        | it.
      p
        | If selected individual does not reply within one week, their winning status is
        | forfeited and the drawing will be held again until a new winner is found.
      p
        | Provide any other applicable reasonable info, such as full name and mailing
        | address.
      h3 Disqualification
      p participants will get kicked out for:
      ul
        li
          p Registering multiple or false accounts
        li
          p Listing books you don’t have or need
        li
          p Code-ninja trickery
    //
      container
